<!DOCTYPE html>
<html lang="en">

<head>
    <!--Titulo de la pagina -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <dialog open="class" modal>
        <header class="modal-header">
            <h2>Configuracion de Rol/Vista</h2>
            <button type="button" class="close-btn">&times;</button>

        </header>

        <main class="modal-body">
            <p class="role-group">
                <label for="role-name"><span class="required">*</span>Nombre del rol</label>
                <input type="text" id="role-name" value="Administrador">
            </p>
            <h3>Modulos de Control</h3>

            <table class="tiles-table">
                <tbody>
                    <tr>
                        <td class="tile-title">
                            <span class="drag-icon">≡</span>
                            <span>Registro de entrada</span>
                        </td>
                        <td class="tile-controls">
                            <label class="checkbox-label">Habilitado
                                <input type="checkbox" checked>
                            </label>
                            <select class "Size-select">
                                <option>1x1</option>
                                <option>2x1</option>
                                <option>2x2</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="tile-title">
                            <span class="drag-icon">≡</span>
                            <span>Registro de salida</span>
                        </td>
                        <td class="tile-controls">
                            <label class="checkbox-label">Habilitado
                                <input type="checkbox" checked>
                            </label>
                            <select class "Size-select">
                                <option>1x1</option>
                                <option>2x1</option>
                                <option>2x2</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="tile-title">
                            <span class="drag-icon">≡</span>
                            <span>Tecnologia NFC</span>
                        </td>
                        <td class="tile-controls">
                            <label class="checkbox-label">Habilitado
                                <input type="checkbox" checked>
                            </label>
                            <select class "Size-select">
                                <option>1x1</option>
                                <option>2x1</option>
                                <option>2x2</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="tile-title">
                            <span class="drag-icon">≡</span>
                            <span>Biometria facial</span>
                        </td>
                        <td class="tile-controls">
                            <label class="checkbox-label">Habilitado
                                <input type="checkbox" checked>
                            </label>
                            <select class "Size-select">
                                <option>1x1</option>
                                <option>2x1</option>
                                <option>2x2</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="tile-title">
                            <span class="drag-icon">≡</span>
                            <span>Biometria Facial</span>
                        </td>
                        <td class="tile-controls">
                            <label class="checkbox-label">
                                Habilitado
                                <input type="checkbox" checked>
                            </label>
                            <select class="size-select">
                                <option>1 x 1 (Estandar)</option>
                                <option>2 x 2 (IA Avanzado)

                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer class="modal-footer">
            <button type="button" class="btn btn-secondary">Aceptar y añadir Otro</button>
            <button type="button" class="btn btn-secondary">Cancelar</button>
            <button type="submit" class="btn btn-primary">OK</button>
        </footer>
    </dialog>
</body>

</html>