<style>
    table tbody tr img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
</style>

<header>
    <h1>Usuarios</h1>
</header>

<main>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Manuel" /></td>
                <td>Manuel</td>
                <td>Ibañez</td>
                <td>3° Medio B</td>
            </tr>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Camilo" /></td>
                <td>Camilo</td>
                <td>Mori</td>
                <td>3° Medio B</td>
            </tr>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Sebastian" /></td>
                <td>Sebastian</td>
                <td>Pereira</td>
                <td>3° Medio B</td>
            </tr>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Dangelo" /></td>
                <td>Dangelo</td>
                <td>Pinto</td>
                <td>3° Medio B</td>
            </tr>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Felipe" /></td>
                <td>Felipe</td>
                <td>Gutierrez</td>
                <td>3° Medio B</td>
            </tr>
            <tr>
                <td><img src="../assets/images/4bb2bb45bd21bb55053cebbd672b85f2 (1).jpg" alt="Foto de Kenny" /></td>
                <td>Kenny</td>
                <td>Muñoz</td>
                <td>3° Medio B</td>
            </tr>
        </tbody>
    </table>
</main>
